.keyList{
    padding: 10px 30px 10px 30px;
}

.jumbo{
    background-color: #1e90ff;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}